{% extends 'base.html' %}

{% block 'conteudo' %}
    {% if status == '1' %}
        <h1>Digite um nome ou e-mail valido</h1>
    {% endif %}
   {% if status == '2' %}
        <h1>Digite uma senha valida</h1>
   {% endif %}
   {% if status == '3' %}
        <h1>E-mail já cadastrado</h1>
    {% endif %}
    {% if status == '4' %}
        <h1>Cadastro realizado com sucesso</h1>
    {% endif %}
    {% if status == '5' %}
        <h1>Erro interno do sistema</h1>
    {% endif %}
    {% if status == '25' %}
        <h1>Faça  o ligin para acessar o painel</h1>
    {% endif %}
    <form method="POST" action="{% url 'valid_log' %}">{% csrf_token %}
        <input type="email" placeholder="Email" name="email" >
        <input type="password" placeholder="senha" name="senha">
        <input type="submit" placeholder="Enviar">
        <a href="{% url 'cadastro' %}">Pagina de cadastro</a>
    </form>
{% endblock %}
